
<!-- SEGMENT COLLECTION EDITOR -->
<div id="ui-segments-creation">

    <!-- NO PROJECT OR FILE SELECTED -->
    <div ng-if="!file.id">

        <div class="row">
            <div id="no-file" class="col-md-12">
                <div class="panel panel-default">
                    <div class="controls panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Select a file...</h3>

                                <button class="btn btn-primary" title="Choose a file" ng-click="loadFile()">
                                    <i class="glyphicon glyphicon-upload"></i>                        
                                </button>
                                <h3>...or an existing project...</h3>
                                <button class="btn btn-primary" title="Choose a project" ng-click="loadSegmentProject()">
                                    <i class="glyphicon glyphicon-list-alt"></i>                        
                                </button>
                                <h3>to begin.</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PROJECT OR FILE SELECTED --> 
    <div ng-if="file.id">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" title="Open file" ng-click="loadFile()">
                    <i class="glyphicon glyphicon-upload"></i>                        
                </button>
                <button class="btn btn-primary" title="Open project" ng-click="loadSegmentProject()">
                    <i class="glyphicon glyphicon-list-alt"></i>                        
                </button>
                <button class="btn btn-default" ng-click="init()">
                    <span class="glyphicon glyphicon-refresh"></span>
                </button>
            </div>           
        </div>
        <hr/>
        <!-- WAVEFORM TIMELINE AND CONTROLS --> 
        <div class="row">
            <div class="col-md-12">
                <div my-wave-surfer="" instance="instance" file="file"></div>
            </div>
        </div>
        <!-- SEGMENTS ZONE -->
        <div class="row" id="teacher-segments">
            <div class="col-md-12">
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <h3 class="panel-title">SEGMENTS</h3>
                    </div>

                    <div class="panel-body">
                        <!-- BUTTONS -->
                        <button class="btn btn-default" id="auto-draw" ng-click="autoDrawMarkers()">
                            Draw marker automatically
                        </button>
                        <button class="btn btn-default" id="create-segments" ng-click="createSegmentsFromMarkers()" >
                            Create segments from markers
                        </button>
                        <button class="btn btn-default" id="split-files" ng-click="splitAudio()" ng-disabled="!currentProject.segments.length > 0">
                            Create files from segments
                        </button>
                        <!--<button class="btn btn-danger" ng-click="mark()">
                            <i class="glyphicon glyphicon-flag"></i>
                        </button>-->
                        <button class="btn btn-default" id="save-segments" ng-click="saveSegmentCollection()" ng-disabled="!currentProject.segments.length > 0" title="Save all segments">
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                        </button>
                        <button class="btn btn-danger" ng-click="deleteAllSegments()" title="Delete all segments">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <!-- SEGMENTS -->
                        <div id="segments-container">
                            <ul class="list-group">
                                <li ng-repeat="s in currentProject.segments" data-start="{{s.start}}" data-end="{{s.end}}" data-mendid="{{s.mEndId}}" data-mstartid="{{s.mStartId}}" id="{{s.id}}" class="segment list-group-item">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <label>Segment : </label> <input type="text" name="sName" value="{{s.name}}"/>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="button" class="btn btn-danger btn-xs" ng-click="deleteSegment(s.id)" title="Delete segment">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row marker-info">
                                                <div class="buttons col-md-12">
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="moveCursorTo(s.start)" title="Move cursor to">
                                                        <span class="glyphicon glyphicon-move"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="moveMarkerToCurrentTime({mId: s.mStartId, sId: s.id})" title="Move marker to current time">
                                                        <span class="glyphicon glyphicon-screenshot"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" data-mid="{{s.mStartId}}" ng-click="deleteMarker({mId: s.mStartId, sId: s.id})" title="Delete marker">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                    <span class="time"> {{s.start| flToHHmmss}}</span>
                                                </div>
                                            </div>
                                            <div class="row marker-info">
                                                <div class="buttons col-md-12">
                                                    <button type="button" class="btn btn-success btn-xs" ng-click="moveCursorTo(s.end)" title="Move cursor to">
                                                        <span class="glyphicon glyphicon-move"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-primary btn-xs" ng-click="moveMarkerToCurrentTime({mId: s.mEndId, sId: s.id})" title="Move marker to current time">
                                                        <span class="glyphicon glyphicon-screenshot"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs" ng-click="deleteMarker({mId: s.mEndId, sId: s.id})" title="Delete marker">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                    <span class="time"> {{s.end| flToHHmmss}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


