<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>COCA - PROTOTYPE</title>

        <link href="data:image/gif;" rel="icon" type="image/x-icon" />

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">-->

        <!-- MY -->
        <link rel="stylesheet" href="css/style.css" />

        <!-- JS -->
        <script type="text/javascript" src="js/libs/jquery.min.js"></script>
        <script type="text/javascript" src="js/libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/libs/bootbox.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-route.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-loader.min.js"></script>
        <script type="text/javascript" src="js/libs/angular/angular-ui-bootstrap.min.js"></script>

        <!-- wavesurfer.js -->
        <!-- <script src="js/libs/wavesurfer.min.js"></script> -->

        <script src="js/libs/src/wavesurfer.js"></script>
        <script src="js/libs/src/webaudio.js"></script>
        <script src="js/libs/src/webaudio.buffer.js"></script>
        <script src="js/libs/src/webaudio.media.js"></script>
        <script src="js/libs/src/drawer.js"></script>
        <script src="js/libs/src/drawer.canvas.js"></script>

        <!-- timeline -->
        <script src="js/libs/wavesurfer.timeline.js"></script>

        <!-- uuid generator -->
        <script src="js/libs/uuid.js"></script>

        <!-- my libraries -->        
        <script src="js/Utils.js"></script>
        <script src="js/Segment.js"></script>
        <script src="js/SegmentCollection.js"></script>

        <!-- my app script -->
        <!--<script src="js/main.js"></script>-->
        <script src="js/app/coca/controller/MainCtrl.js"></script>        
        <script src="js/app/utils/factory/UtilsFactory.js"></script>
        <script src="js/app/coca/controller/SegmentsEditorCtrl.js"></script>
        <script src="js/app/coca/controller/WaveEditorCtrl.js"></script>
        <script src="js/app/coca/controller/PlaylistEditorCtrl.js"></script>
        <script src="js/app/wavesurfer/factory/WaveSurferFactory.js"></script>
        <script src="js/app/coca/factory/SegmentFactory.js"></script>
        <script src="js/app/coca/factory/SegmentCollectionFactory.js"></script>        
        <script src="js/app/uploadmodal/controller/UploadModalCtrl.js"></script>
        <script src="js/app/progress/controller/ProgressModalCtrl.js"></script>
        <script src="js/app/scollectionmodal/controller/SegmentsCollectionsModalCtrl.js"></script>
        <script src="js/app/scollectionmodal/controller/SaveCollectionCtrl.js"></script>
        <script src="js/app/wavesurfer/directives/WaveSurferDirective.js"></script>
        <script src="js/app/coca/cocaApp.js"></script>
    </head>
    <body>
        <div ng-app="cocaApp">
            <div class="container" ng-controller="MainCtrl">
                <!-- HEADER AND NAV -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="" ng-click="loadWaveEditor()">PROTOTYPE - COCA</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <!--<li ng-class="navClass('weditor')"><a href="#/weditor">WaveEditor</a></li>
                                <li ng-class="navClass('pleditor')"><a href="#/pleditor">Playlists</a></li>
                                <li ng-class="navClass('sceditor')"><a href="#/sceditor">Segments</a></li>-->
                                
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a ng-if="user.teacher === true">
                                        Welcome teacher {{ user.name}}
                                    </a>
                                    <a ng-if="user.teacher === false">
                                        Welcome student {{ user.name}}
                                    </a>
                                </li>
                                <li>
                                    <a class="btn" data-toggle="modal" data-target="#help-dialog">
                                        Help
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
           
                <!-- VIEWS -->
                <div ng-view>
                    
                </div>

            </div>
        </div>
    </body>
</html>
