<div class="modal-header">
    <h4 class="modal-title">
    Pick a project to work on
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="collections.length > 0">
                <table id="pjct-table" class="table table-striped">
                    <tr ng-repeat="c in collections">
                        <td>
                            <input type="radio" class="coll-select" ng-change="handleChange()" name="collection" ng-disabled="c.id === current.id" ng-model="source.selected" value="{{c}}"/>
                        </td>
                        <td> <span>{{c.name}}</span></td>
                        <td> <span ng-if="c.id === current.id" class="glyphicon glyphicon-eye-open"></span></td>
                    </tr>
                </table>
            </div>
            <div ng-if="collections.length === 0">
                <h3>No existing collection</h3>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!result.id">OK</button>
    <button class="btn btn-default cancel" ng-click="cancel()">cancel</button>
</div>