

<!-- TIMELINE -->
<div id="wave-timeline"></div>
<!-- WAVEFORM -->
<div id="waveform">
    <div class="progress progress-striped active" id="progress-bar">
        <div class="progress-bar progress-bar-info"></div>
    </div>

    <!-- Here be the waveform -->
</div>


<!-- CONTROLS & TOOLS LINE -->
<div class="row" id="controls">
    <!-- PLAYBACK CONTROL -->
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="controls panel-body text-center">
                <h4 id="time">{{ time}}</h4>
                <button class="btn btn-primary" ng-click="back()">
                    <i class="glyphicon glyphicon-step-backward"></i>
                </button>
                <button class="btn btn-primary" data-action="play" ng-click="play()">
                    <i class="glyphicon glyphicon-play"></i>
                    /
                    <i class="glyphicon glyphicon-pause"></i>
                </button>
                <button class="btn btn-primary" ng-click="forth()" >
                    <i class="glyphicon glyphicon-step-forward"></i>
                </button> 
                <button class="btn btn-danger" title="x1" ng-click="changeSpeed($event)" data-value="1">
                    x1                                   
                </button>
                <button class="btn btn-danger" title="x0.85" ng-click="changeSpeed($event)" data-value="0.85"> 
                    x0.85                                   
                </button>
                <button class="btn btn-danger" title="x0.65" ng-click="changeSpeed($event)" data-value="0.65">
                    x0.65                                   
                </button>

                <button class="btn btn-default" ng-click="zoomIn()" title="zoom in">
                    <span class="glyphicon glyphicon-zoom-in"></span>
                </button>
                <button class="btn btn-default" ng-click="zoomOut()" title="zoom out">
                    <span class="glyphicon glyphicon-zoom-out"></span>
                </button>
                <div class="play-mode-buttons btn-group">
                    <button class="btn btn-default" ng-click="togglePlayMode($event)" data-value="normal" title="normal play">
                        Normal
                    </button>
                    <button class="btn btn-default" ng-click="togglePlayMode($event)" data-value="segment" title="play segment">
                        Only segment
                    </button>
                    <button class="btn btn-default" ng-click="togglePlayMode($event)" data-value="backward" title="backward building">
                        Backward building
                    </button>
                </div>
                <!-- u can also call a methode from parrent with ng-click="$parent.method()" -->
            </div>
        </div>
    </div>
</div>